.filter-wrapper {
  max-width: 500px;
  background-color: var(--color-primary-blue);
  padding: 20px;
  margin: auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.filter-wrapper label {
  margin-right: 10px;
  color: var(--text-color-white);
}
.filter-wrapper select {
  padding: 8px;
  border-radius: 5px;
}
